<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navbar.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                   <li>
                        <p><%= product.productData.title %> (<%= product.qty %>)</p>
                        <form action="/delete-from-cart" method="POST">
                            <input type="hidden" name="productId" value="<%= product.productData.id %>">
                            <button type="submit" class="btn">Delete</button>
                        </form>
                   </li> 
                <% }); %>
            </ul>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>